In [ ]:
#Serie II

In [2]:
#1. Crear una lista de listas llamada nueva_lista que contenga 5 registros de 3 registros cada uno (el contenido no importa).
nueva_lista = [
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15],
    [16,17,18,19,20],
    [21,22,23,24,25]
]

In [3]:
#a.Imprimir el cuarto valor del tercer registro
print(nueva_lista[2][3])

14

In [4]:
#b.Imprimir el tercer valor del segundo registro
print(nueva_lista[1][2])

8

In [5]:
#2. Crear una lista de diccionarios con tres diccionarios, donde cada diccionario registre los valores para curso, inscritos y aprobados.
cursos = [
    {"Curso" : ["Mate Discreta", "Calculo 1", "Progra 3"]},
    {"Inscritos" : [["Juan"], ["John", "Johny"], ["Juan"]]},
    {"Aprobados" : [["Juan"], ["John"], []]}
]

In [6]:
#Cantidad de inscritos en 3er registro
print(cursos[1]["Inscritos"][2])

['Juan']

In [7]:
#Cantidad de aprobados en el ultimo registro
print(cursos[2]["Aprobados"][2])

[]

In [8]:
#porcentaje de aprobados en el segundo registro
calc1_inscritos_total = len(cursos[1]["Inscritos"][1])
calc1_aprobados_total = len(cursos[2]["Aprobados"][1])
porcentaje_aprobados_calc1 = calc1_aprobados_total/calc1_inscritos_total
print(porcentaje_aprobados_calc1*100)

50.0

In [9]:
#C
import pandas as pd

In [10]:
nombres = pd.read_csv('nombres.csv', sep=",")

In [11]:
print(nombres)

        state sex  year     name  quantity
0          MO   F  1910     Mary       611
1          MO   F  1910    Helen       313
2          MO   F  1910  Dorothy       270
3          MO   F  1910  Mildred       267
4          MO   F  1910     Ruth       237
...       ...  ..   ...      ...       ...
5933556    KS   M  2017  Xzavier         5
5933557    KS   M  2017     Yael         5
5933558    KS   M  2017   Zaiden         5
5933559    KS   M  2017     Zayn         5
5933560    KS   M  2017     Zion         5

[5933561 rows x 5 columns]

In [12]:
#¿Hay mujeres llamados Jules, Nery?

consulta = nombres.query("sex == 'F' and name == 'Nery' or name =='Jules'")

print('Nery' in consulta['name'].unique())
print('Jules' in consulta['name'].unique())

True
True

In [13]:
#¿Cuál es la cantidad de mujeres llamadas Nery en el estado de CA y NJ nacidas después de 1950?
consulta = nombres.query("(state == 'CA' or state == 'NJ') and sex == 'F' and name == 'Nery' and year > 1950")
print(consulta)
print(consulta['name'].count())

        state sex  year  name  quantity
1147313    CA   F  1984  Nery         6
1170498    CA   F  1991  Nery         6
1240286    CA   F  2009  Nery         5
3

In [14]:
#¿Cuál es la cantidad promedio de hombres llamados Mary nacidos después de 1989?
consulta = nombres.query("sex == 'M' and year > 1989 and name == 'Nery'")
cantidad_consulta = consulta['name'].count()
cantidad_total = nombres['name'].count()                         
print("promedio: " + str((cantidad_consulta/cantidad_total)*100))
print(cantidad_total)
print(cantidad_consulta)

promedio: 0.0011460234419095041
5933561
68

In [15]:
#¿Cuáles son los tres estados donde hay más mujeres llamados Nery y Alex?

consulta = nombres.query("name == 'Nery' or name == 'Alex' and sex == 'F'")
estados = consulta.groupby(['state']).count()
topEstados = estados.sort_values(by='name', ascending=False)

print(topEstados[0:3]['name'])

state
CA    77
TX    48
NY    36
Name: name, dtype: int64